@media (max-width:575.99px){
    .container{
        padding: 0 5px;
    }
    #navbar {
        margin-top: 0px;
        padding: 8px 0;
    }
    .nav_wrapper{
        justify-content: space-between;
    }
    .nav_wrapper .logo{
        width: 40%;
    }
    .nav_wrapper .logo img{
        height: 32px;
    }
    .nav_wrapper ul{
        display: none;
    }
    .nav_wrapper .nav_btn{
        display: none;
        align-items: center;
    }
    .nav_toggle{
        display: flex;
        width: 10%;
        justify-content: end;
    }
    .nav_toggle i{
        font-size: 24px;
        color: #6345D5;
        cursor: pointer;
    }
    /* ==== nav done ==== */
    .shape_one img{
        width: 300px;
        height: 150px;
    }
    .banner_wrapper{
        gap: 2px;
        padding-top: 80px;
        padding-bottom: 235px;  
    }
    .banner_desc h1 {
        font-size: 30px;
        max-width: 182px;
    }
    .banner_desc p {
        margin: 20px 0;
        max-width: 199px;
        font-size: 16px;
        line-height: 130%;
    }    
    .banner_img {
        position: relative;
        top: 48px;
        width: 200px;
        height: 150px;
        overflow: hidden;
    }
    .banner_img img{
        height: 100%;
        width: 100%;
    }
    .banner_btn a {
        font-size: 16px;
        line-height: 18px;
    }
    .banner_btn a:first-child {
        padding: 10px 15px;
    }
    .banner_btn a:last-child {
        padding: 10px 20px;
    }
    .banner_btn{
        max-width: 135px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;        
    }
    .banner_big_img {
        width: 98%;
        height: 395px;
        bottom: -210px;
        left: 50%;
        transform: translateX(-50%);
    }
    /* ====== banner done ====== */
    #counter{
        padding-top: 250px;
    }
     .container {
        padding: 0 5px;
    }
}












@media (min-width:1200px){  
    .banner_desc {
        width: 503px;
    }
    .banner_btn {
        display: flex;
        column-gap: 24px;
    }
    .banner_img {
        position: relative;
        width: 683px;
        left: 40px;
    }
    .nav_toggle{
        display: none;
    }
}