@media (max-width:575.99px){
    .container{
        padding: 0 5px;
    }
    #navbar {
        margin-top: 0px;
        padding: 8px 0;
    }
    .nav_wrapper{
        justify-content: space-between;
    }
    .nav_wrapper .logo{
        width: 40%;
    }
    .nav_wrapper .logo img{
        height: 32px;
    }
    .nav_wrapper ul{
        display: none;
    }
    .nav_wrapper .nav_btn{
        display: none;
        align-items: center;
    }
    .nav_toggle{
        display: flex;
        width: 10%;
        justify-content: end;
    }
    .nav_toggle i{
        font-size: 24px;
        color: #6345D5;
        cursor: pointer;
    }
    /* ==== nav done ==== */
    .shape_one img{
        width: 300px;
        height: 300px;
    }
    .shape_two img{
        width: 380px;
        height: 400px;
    }
    .shape_three img{
        width: 400px;
        height: 450px;
    }
    .banner_wrapper{
        gap: 2px;
        padding-top: 80px;
        padding-bottom: 210px;  
    }
    .banner_desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .banner_desc h1 {
        font-size: 32px;
        text-align: center;
    }
    .banner_desc p {
        margin: 20px 0;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
    }    
    .banner_img {
        display: none;
    }
    
    .banner_btn a {
        font-size: 16px;
        line-height: 18px;
    }
    .banner_btn a:first-child {
        padding: 10px 15px;
    }
    .banner_btn a:last-child {
        padding: 10px 20px;
    }
    .banner_btn{
        display: flex;
        flex-direction: column;
        row-gap: 10px;        
    }
    .banner_big_img {
        width: 98%;
        height: 345px;
        bottom: -210px;
        left: 50%;
        transform: translateX(-50%);
    }
    /* ====== banner done ====== */
    #counter{
        padding-top: 280px;
    }
    .counter_wrapper {
        padding: 15px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: start;
        text-align: center;
        margin: 0 2px;
        
    }
    .counter_item {
        gap: 10px;
    }
    .counter_item::after {
        display: none;
    }
    .counter_item .count_num{
        font-size: 30px;
    }
    .counter_item .count_tittle {
        font-size: 18px;
    }
    /* ==== counter done === */
    #feature {
        padding-top: 70px;
        padding-bottom: 0;
    }
    
    .feature_heading{
        flex-direction: column;
        row-gap: 15px;
    }
    .feature_heading h2 {
        font-size: 30px;
        text-align: center;
    }
    .feature_heading p{
        font-size: 16px;
        text-align: center;
    }
    .feature_wrapper{
        margin-top: 55px;
        margin-bottom: 40px;
        align-items: center;
    }
    .feature_wrapper .box{
        padding: 15px;
        width: 95%;
    }
    .transition p {
        margin-top: 15px;
    }
    .feature_img{
        width: 330px;
        height: 455px;
        overflow: hidden;
        margin: 0 auto;
    }
    .feature_img img{
        width: 100%;
        height: 100%;
    }
     /* ===== feature done ===== */
     #video {
        padding: 100px 0 100px 0;
    }
    .video_wrapper{
        display: block;
    }
    .video_box {
        width: 100%;
        height: 400px;
    }
    .video_details {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        padding-top: 50px;
    }
    .video_tittle {
        font-size: 30px;
        text-align: center;
    }
    .video_details p {
        font-size: 16px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .ditails_list {
        gap: 32px;
        margin-top: 30px;
    }
    .ditails_list_item{
        gap: 15px;
    }
    .ditails_list_text{
        font-size: 18px;
    }
    /* ==== video done ==== */
    .price_heading{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .price_heading h2{
        font-size: 32px;
    }
    .price_heading p{
        font-size: 16px;
        max-width: 300px;
    }
    .pricing_wrapper{
        display: block;
        margin-top: 50px;
    }
    .package_main{
        width: 100%;
        align-items: center;
    }
    .package_item{
        width: 96%;
    }
    .price_free span{
        font-size: 28px;
    }
    .package_item p{
        max-width: 155px;
        font-size: 16px;
    }
    .plan_main{
        width: 96%;
        margin: 50px auto;
    }
    /* ============= */
    .review_wrapper{
        display: block;
    }
    .review_main{
        max-width: 100%;
    }
    .review_heading{
        margin: 0 auto;        
        text-align: center;
        width: 380px;
    }
    .review_main .review_heading h2{
        font-size: 32px;
    }
    .review_main .review_heading p{
        font-size: 16px;
    }
    .review_img_main{
        gap: 15px;
    }
    .review_img_wrapper{
        gap: 15px;
    }
    .contact_form{
        width: 100%;
        padding: 45px 10px;
        margin-top: 80px;
    }
    .form_group button{
        padding: 20px 130px;
    }
    /* ----------------- */
    #footer{
        padding-top: 70px;
        padding-bottom: 20px
    }
    .footer_wrapper{
        flex-direction: column;
    }
    .footer_logo{
        text-align: center;
        width: 100%;
    }
    .footer_list_main{
        column-gap: 20px;
        margin-top: 55px;
        justify-content: space-between;
        padding: 0 8px;
    }
    .footer_ul{
        margin-top: 30px;
        gap: 15px;
    }
    .copyright {
        margin-top: 55px;
        padding-top: 15px;
        flex-direction: column;
    }
    .copyright p{
        font-size: 14px;
        text-align: center;
    }
    .social_link{
        margin-top: 15px;
    }

}

@media (min-width:1200px){  
    .banner_desc {
        width: 503px;
    }
    .banner_btn {
        display: flex;
        column-gap: 24px;
    }
    .banner_img {
        position: relative;
        width: 683px;
        left: 40px;
    }
    .nav_toggle{
        display: none;
    }
    .counter_item{
        width: 28%;
    }
    .full_wrap{
        position: relative;
        margin-top: 48px;
        display: flex;
    }
    .feature_img {
        position: absolute;
        top: 0;
        right: -40px;
    }
    .feature_wrapper .box {
    max-width: 368px;
}
   
}