:root {
    --main_color: #6345D5;
    --font_main_color: #192252;
    --Urbanist: "Urbanist", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Urbanist);
}

a {
    text-decoration: none;
}

ul,
ol,
dl {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 0.8;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* ================ navbar start ============= */
#navbar {
    padding: 23px 0;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(2px);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav_wrapper {
    display: flex;
    align-items: center;
}

.nav_wrapper .logo {
    width: 20%;
}

.nav_wrapper ul {
    display: flex;
    justify-content: center;
    column-gap: 80px;
    width: 60%;
}

.nav_wrapper ul li a {
    font-size: 18px;
    font-weight: 600;
    color: #606D93;
    transition: all linear 0.3s;
}

.nav_wrapper ul a:hover {
    color: var(--font_main_color);
}

.nav_wrapper .nav_btn {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.nav_btn a {
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    padding: 16px 40px;
    background-color: var(--main_color);
    border-radius: 8px;
    transition: all linear 0.3s;
}

.nav_btn a:hover {
    background-color: #fff;
    color: #192252;
}

/* ================ navbar end ============= */

/* ================ banner start ============= */
#banner {
    position: relative;
}

.shape_three img {
    position: absolute;
    bottom: -130px;
    left: 0;
    z-index: -2;
}

.shape_one,
.shape_two {
    position: relative;
}

.shape_one img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.shape_two img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}

.banner_wrapper {
    display: flex;
    gap: 54px;
    padding-top: 215px;
    padding-bottom: 820px;
    /* position: relative; */
}

.banner_desc {
    width: 503px;
}

.banner_desc h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 110%;
    color: var(--font_main_color);
}

.banner_desc p {
    margin: 40px 0;
    max-width: 332px;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #848FAC;
}

.banner_btn {
    display: flex;
    column-gap: 24px;
}

.banner_btn a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    border-radius: 8px;
    display: inline-block;
    transition: all linear 0.3s;
}

.banner_btn a:first-child {
    padding: 20px 40px;
    color: #fff;
    background: var(--main_color);
}

.banner_btn a:first-child:hover {
    color: var(--font_main_color);
    background: #fff;
}

.banner_btn a:last-child {
    padding: 20px 52px;
    color: var(--font_main_color);
    background: #fff;
}

.banner_btn a:last-child:hover {
    color: #fff;
    background: var(--main_color);
}

.banner_img {
    width: 683px;
    position: relative;
    left: 40px;
}

.banner_big_img_box {
    position: relative;
}

.banner_big_img {
    width: 100%;
    height: 882px;
    position: absolute;
    bottom: -422px;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 24px;
    overflow: hidden;
}

.banner_big_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ================ banner end ============= */

/* ================ counter start ============= */
#counter {
    background-color: #201353;
    padding-top: 522px;
    padding-bottom: 32px;
}

.counter_wrapper {
    padding: 48px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.counter_item {
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
}

.counter_item::after {
    position: absolute;
    content: " ";
    right: 0;
    top: 50%;
    height: 32px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.20);
    transform: translate(52px, -50%);
}

.counter_item:last-child::after {
    display: none;
}

.counter_item .count_num {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.counter_item .count_tittle {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.64);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

/* ================ counter end ============= */

/* ================ feature start ============= */
#feature {
    background-color: #201353;
    padding: 100px 0;
}
.feature_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature_heading h2 {
    max-width: 514px;
    font-size: 52px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
}
.feature_heading p {
    max-width: 555px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    color: rgba(255, 255, 255, 0.64);
}
.feature_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.feature_wrapper .box {
    width: 368px;
    border-radius: 16px;
    padding: 24px;
}
.transition {
    background-color: #fff;
}
.transition_heading {
    display: flex;
    gap: 14px;
    align-items: center;
}
.transition p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #848FAC;
}
.transition .progress {
    margin-top: 24px;
    height: 4px;
    border-radius: 2px;
    background-color: #EFF3FA;
    position: relative;
    overflow: hidden;
}
.transition .progress::after {
    position: absolute;
    content: " ";
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #6245D5;
    border-radius: 2px;
}
.feature_wrapper .history {
    border: 1px solid #2C1A74;
    background-color: #201353;
}

.feature_wrapper .history_heading {
    display: flex;
    gap: 12px;
    align-items: center;
}
.feature_wrapper .history h4 {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
}
.feature_wrapper .history .skilliton {
    height: 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.30);
}

.feature_wrapper .history .skilliton.one {
    width: 307px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.feature_wrapper .history .skilliton.two {
    width: 287px;
}
.skilliton_last {
    margin-top: 26px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.30);
}
.full_wrap{
    position: relative;
    margin-top: 48px;
    display: flex;
}
.feature_img{
    position: absolute;
    top: 0;
    right: -40px;
}
/* ================ feature end ============= */

/* ================ video start ============= */
#video {
    background-color: #fff;
    padding: 132px 0 140px 0;
}
.video_wrapper{
    display: flex;
    gap: 126px;
    align-items: center;
}
.video_box{
    width: 600px;
    height: 600px;
    border-radius: 24px;
    background-color: #D9D9D9;
    /* overflow: hidden; */
    position: relative;
}
.video_box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video_play_btn{   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video_details{
    max-width: 514px;
}
.video_tittle{
    font-size: 52px;
    font-weight: 700;
    line-height: normal;
    color: var(--font_main_color);
}
.video_details p{
    max-width: 421px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    color: #848FAC;
    margin-top: 24px;
    margin-bottom: 40px;
}
.ditails_list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.ditails_list_item{
    display: flex;
    gap: 29px;
    align-items: center;
}
.ditails_list_icon{
    color: #219653;
    font-size: 20px;
}
.ditails_list_text{
    color: var(--font_main_color);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}
/* ================ video end ============= */

/* ================ navbar start ============= */
/* ================ navbar end ============= */

/* ================ navbar start ============= */
/* ================ navbar end ============= */

/* ================ navbar start ============= */
/* ================ navbar end ============= */

/* ================ navbar start ============= */
/* ================ navbar end ============= */