:root{
    --main_color: #6345D5;
    --font_main_color: #192252;
    --Urbanist:"Urbanist", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Urbanist);
}
a{
    text-decoration: none;
}
ul, ol, dl{
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6{
    line-height: 0.8;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
}
/* ================ navbar start ============= */
#navbar{
    padding: 23px 0;
}
.nav_wrapper{
    display: flex;
    align-items: center;
}
.nav_wrapper .logo{
    width: 20%;
}
.nav_wrapper ul{
    display: flex;
    justify-content: center;
    column-gap: 80px;
    width: 60%;
}
.nav_wrapper ul li a{
    font-size: 18px;
    font-weight: 600;
    color: #606D93;
    transition: all linear 0.3s;
}
.nav_wrapper ul a:hover{
    color: var(--font_main_color);
}
.nav_wrapper .nav_btn{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.nav_btn a{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    padding: 16px 40px;
    background-color: var(--main_color);
    border-radius: 8px;
    border: 1px solid var(--main_color);
    transition: all linear 0.3s;
}
.nav_btn a:hover{
    background-color: transparent;
    color: #192252;
}
/* ================ navbar end ============= */

/* ================ navbar start ============= */
/* ================ navbar end ============= */

/* ================ navbar start ============= */
/* ================ navbar end ============= */

/* ================ navbar start ============= */
/* ================ navbar end ============= */

/* ================ navbar start ============= */
/* ================ navbar end ============= */

/* ================ navbar start ============= */
/* ================ navbar end ============= */

/* ================ navbar start ============= */
/* ================ navbar end ============= */

/* ================ navbar start ============= */
/* ================ navbar end ============= */

/* ================ navbar start ============= */
/* ================ navbar end ============= */

